<!DOCTYPE html>
<html>



    <head>
        <title>My PAge</title>
        <link rel="stylesheet"  href="styles.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>

            <header>
                <nav>
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="contactus.html"> CONTACT US </a></li>
                        <li class="logo"><a href="index.html">LOGO</a></li>
                        <li><a href="workshops.html">WORKSHOPS</a> </li>
                        <li><a href="aboutteam.html">ABOUT TEAM</a></li>
                      
                    </ul>
                    </ul>
                </nav>
               
              
                
            </header>
 
           
             <section class="features">
                
                <figure>
                    <img src="premium ceramic jug.jpg" alt="Premium Ceramic Jug">
                    <figcaption>Premium_Ceramic_jug</figcaption>

                </figure>

                <figure>
                    <img src="mosiac.jpg" alt="Mosiac pot">
                    <figcaption>Mosiac_pot</figcaption>

                </figure>

                <figure>
                    <img src="deer engraved.jpg" alt= "Deer Engraved">
                    <figcaption>Deer_Engraved</figcaption>

                </figure>
                
                
            </section>
            
            <section class="features">
                
                <figure>
                    <img src="pots-22.jpg" alt="Premium Ceramic Jug">
                    <figcaption>Premium_Ceramic_jug</figcaption>

                </figure>

                <figure>
                    <img src="pots-11.jpg" alt="Mosiac pot">
                    <figcaption>Mosiac_pot</figcaption>

                </figure>

                <figure>
                    <img src="pots-03.jpg" alt=Deer Engraved">
                    <figcaption>Deer_Engraved</figcaption>

                </figure>
                
                
            </section>

        </section>
            
        <section class="features">
            
            <figure>
                <img src="pots-02.jpg" alt="Premium Ceramic Jug">
                <figcaption>Premium_Ceramic_jug</figcaption>

            </figure>

            <figure>
                <img src="pots-04.jpg" alt="Mosiac pot">
                <figcaption>Mosiac_pot</figcaption>

            </figure>

            <figure>
                <img src="pots-05.jpg" alt=Deer Engraved">
                <figcaption>Deer_Engraved</figcaption>

            </figure>
            
            
        </section>

    </section>
            
    <section class="features">
        
        <figure>
            <img src="pots-06.jpg" alt="Premium Ceramic Jug">
            <figcaption>Premium_Ceramic_jug</figcaption>

        </figure>

        <figure>
            <img src="pots-10.jpg" alt="Mosiac pot">
            <figcaption>Mosiac_pot</figcaption>

        </figure>

        <figure>
            <img src="pots-14.jpg" alt=Deer Engraved">
            <figcaption>Deer_Engraved</figcaption>

        </figure>
        
        
    </section>
    <section class="features">
        
        <figure>
            <img src="pots-21.jpg" alt="Premium Ceramic Jug">
            <figcaption>Premium_Ceramic_jug</figcaption>

        </figure>

        <figure>
            <img src="pots-20.jpg" alt="Mosiac pot">
            <figcaption>Mosiac_pot</figcaption>

        </figure>

        <figure>
            <img src="pots-19.jpg" alt=Deer Engraved">
            <figcaption>Deer_Engraved</figcaption>

        </figure>
        
        
    </section>

</section>
<section class="features">
    
    <figure>
        <img src="pots-18.jpg" alt="Premium Ceramic Jug">
        <figcaption>Premium_Ceramic_jug</figcaption>

    </figure>

    <figure>
        <img src="pots-17.jpg" alt="Mosiac pot">
        <figcaption>Mosiac_pot</figcaption>

    </figure>

    <figure>
        <img src="pots-12.jpg" alt=Deer Engraved">
        <figcaption>Deer_Engraved</figcaption>

    </figure>
    
    
</section>

</section>
<section class="features">
    
    <figure>
        <img src="pots-07.jpg" alt="Premium Ceramic Jug">
        <figcaption>Premium_Ceramic_jug</figcaption>

    </figure>

    <figure>
        <img src="pots-08.jpg" alt="Mosiac pot">
        <figcaption>Mosiac_pot</figcaption>

    </figure>

    <figure>
        <img src="pots-09.jpg" alt=Deer Engraved">
        <figcaption>Deer_Engraved</figcaption>

    </figure>
    
    
</section>

            <footer>
               Web design project of Pillai College of Engineering , New Panvel
            </footer>

    </body>
    
</html>