<!DOCTYPE html>
<html>



    <head>
        <title>Workshps | KalaSanghralaya</title>
        <link rel="stylesheet"  href="workshop.css">

    </head>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                
                <li><a href="contactus.html"> CONTACT US </a></li>
                <li class="logo"><a href="index.html">LOGO</a></li>
                <li><a href="workshops.html">WORKSHOPS</a> </li>
             <li><a href="aboutteam.html">ABOUT TEAM</a></li>
               
            </ul>
        </nav>
    </header>

<body>
  <div id = "wrapper">
    <div class="card">
      <img src="workshop1.jpg" alt="Workshop Image" style="width:80%">
      <container>
        <h4><b>Kids Summer Camp</b></h4> 
        <p>Special Summer Workshop for kids</p> 
      <container>
      </div>
      <div class="card">
        <img src="workshop1.jpg" alt="Workshop Image" style="width:80%">
        <container>
          <h4><b>Classic Pot Making</b></h4> 
          <p>Learn all the basics of creating pots, from preparing<br>the mud to shaping the pot to baking it</p> 
        <container>
        </div>
        <div class="card">
          <img src="workshop1.jpg" alt="Workshop Image" style="width:80%">
          <container>
            <h4><b>Online Workshop</b></h4> 
            <p>We will send you all the material to shape a pot <br>and we will bake it for you</p> 
          <container>
          </div>
         <div class="card">
          <img src="workshop1.jpg" alt="Workshop Image" style="width:80%">
          <container>
            <h4><b>Online Workshop</b></h4> 
            <p>We will send you all the material to shape a pot <br>and we will bake it for you</p> 
          <container>
          </div>
  </div>
</body>
</html>